<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" onclick="goToAirCompany()">Air Company</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="goToPage('{{ url_for('users_all/da') }}')">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="goToPage('{{ url_for('get_departments/all') }}')">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="goToPage('{{ url_for('get_employees/all') }}')">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="goToPage('{{ url_for('get_passports/all') }}')">Passports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="goToPage('{{ url_for('get_aircrafts/all') }}')">Aircrafts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="goToPage('{{ url_for('get_flights/all') }}')">Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="goToPage('{{ url_for('get_tickets/all') }}')">Tickets</a>
            </li>
        </ul>
        <form id="logoutForm" class="ml-auto" action="/auth/logout" method="post">
            <button type="submit" class="btn btn-outline-danger">Logout</button>
        </form>
        <form id="loginForm" class="ml-auto" action="/auth/i" method="post">
            <button type="submit" class="btn btn-outline-success">Login</button>
        </form>
    </div>
</nav>


<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-9xQiVOujr4CpTJ15fEo+BNgL/ptcPZl4Uftc1aXtYJo=" crossorigin="anonymous"></script>

<script>
        let isAuthenticated = getCookie('access_token') !== null;
        let userRole = getUserRole();

        function getUserRole() {
            let token = getCookie('access_token');
            if (token) {
                try {
                    let decodedToken = JSON.parse(atob(token.split('.')[1])); // Assuming the role is in the payload
                    return decodedToken.role; // Adjust this based on your token structure
                } catch (error) {
                    console.error('Error decoding token:', error);
                }
            }
            return null;
        }

        function toggleNavigationItems() {
            const itemRoles = {
                'Users': ['admin'],
                'Departments': ['admin'],
                'Employees': ['admin'],
                'Passports': ['admin'],
                'Aircrafts': ['admin'],
                'Flights': ['admin'],
                'Tickets': ['admin', 'user'],
            };

            Object.keys(itemRoles).forEach(item => {
                let navItem = document.querySelector(`a[href*="${item.toLowerCase()}"]`).parentNode;
                if (itemRoles[item].includes(userRole)) {
                    navItem.style.display = 'block';
                } else {
                    navItem.style.display = 'none';
                }
            });
        }

        // Call the function to toggle navigation items visibility when the page has fully loaded
        window.addEventListener('load', function () {
            toggleNavigationItems();
        });

        // Function to handle logout
        const logout = async () => {
            try {
                await fetch('/auth/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + getCookie('access_token'),
                    },
                });
                alert('Вы успешно вышли из системы');
                // Redirect to login page or perform other actions after logout
                // window.location.href = '/auth/i';
            } catch (error) {
                console.error('Logout error:', error);
                alert('Failed to log out');
            }
        };

        document.getElementById('loginForm').style.display = isAuthenticated ? 'none' : 'block';
        document.getElementById('logoutForm').style.display = isAuthenticated ? 'block' : 'none';

        document.getElementById('logoutForm').addEventListener('submit', async function (event) {
            event.preventDefault();
            await logout();
        });

        document.getElementById('loginForm').addEventListener('submit', function (event) {
            event.preventDefault();
            window.location.href = '/auth/i';
        });

        async function goToPage(url) {
            let token = getCookie('access_token');

            let headers = new Headers();
            headers.append('Authorization', 'Bearer ' + token);

            console.log('Token:', token);
            console.log('Headers:', headers);

            try {
                let response = await fetch(url, {
                    method: 'GET',
                    headers: headers,
                });

                if (response.ok) {
                    window.location.replace(url);
                } else {
                    console.error('Error:', response.statusText);
                }
            } catch (error) {
                console.error('Fetch error:', error);
            }
        }

        function goToAirCompany() {
            var token = getCookie('access_token');

            var headers = new Headers();
            headers.append('Authorization', 'Bearer ' + token);

            console.log('Token:', token);
            console.log('Headers:', headers);

            fetch('/welcome/hi', {
                method: 'GET',
                headers: headers,
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/welcome/hi';
                } else {
                    console.error('Error:', response.statusText);
                }
            }).catch(error => {
                console.error('Fetch error:', error);
            });
        }

        function getCookie(name) {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    return cookie.substring(name.length + 1);
                }
            }
            return null;
        }
    </script>

