<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" onclick="goToAirCompany()">Air Company</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  href="#" onclick="goToPage('{{ url_for('users_all/da') }}')">Users</a>
                <a class="nav-link"  href="#" onclick="goToPage('{{ url_for('get_departments/all') }}')">Departments</a>
                <a class="nav-link"  href="#" onclick="goToPage('{{ url_for('get_employees/all') }}')">Employees</a>
                <a class="nav-link"  href="#" onclick="goToPage('{{ url_for('get_passports/all') }}')">Passports</a>
                <a class="nav-link"  href="#" onclick="goToPage('{{ url_for('get_aircrafts/all') }}')">Aircrafts</a>
                <a class="nav-link"  href="#" onclick="goToPage('{{ url_for('get_flights/all') }}')">Flights</a>
                <a class="nav-link"  href="#" onclick="goToPage('{{ url_for('get_tickets/all') }}')">Tickets</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    async function goToPage(url) {
        let token = getCookie('access_token');

        let headers = new Headers();
        headers.append('Authorization', 'Bearer ' + token);
        console.log('Token:', token);
        console.log('Headers:', headers);

        try {
            let response = await fetch(url, {
                method: 'GET',
                headers: headers,
            });

            if (response.ok) {
                window.location.replace(url);
            } else {
                console.error('Error:', response.statusText);
            }
        } catch (error) {
            console.error('Fetch error:', error);
        }
    }

    function goToAirCompany() {
        var token = getCookie('access_token');

        var headers = new Headers();
        headers.append('Authorization', 'Bearer ' + token);

        console.log('Token:', token);
        console.log('Headers:', headers);

        fetch('/welcome/hi', {
            method: 'GET',
            headers: headers,
        }).then(response => {
            if (response.ok) {
                window.location.href = '/welcome/hi';
            } else {
                console.error('Error:', response.statusText);
            }
        }).catch(error => {
            console.error('Fetch error:', error);
        });
    }

    function getCookie(name) {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
                return cookie.substring(name.length + 1);
            }
        }
        return null;
    }
</script>
